<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Login Page</title>
</head>

<body>

	<section>
		<div id="forgotpassword">

			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">

							<div class=" mt-2">
								<a th:href="@{/login}" style="text-decoration: none; color:#000; text-align: left;">
									<i class="fa-solid fa-arrow-left"></i>
								</a>
							</div>

							<form  class="form" th:action="@{/send-otp}" action="#"
								method="post" style="border-radius: 10px;">

								<!-- Heading -->
								<h1 class="text-center text-info mt-3">Forgot Password</h1>

								<!-- Div To Show Errors -->
								<div th:if="${session.errorMessage}" th:classappend="${session.errorMessage.type}"
									class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<p th:text="${session.errorMessage.content}"></p>
									
									  <th:block th:remove="${#session.removeAttribute('errorMessage')}"></th:block>
								</div>



								<!-- Email Field -->
								<div class="form-group email-field">
									<label for="email" class="text-info">Email Address:</label><br>
									<input required type="email" name="email" id="email" class="form-control"
										placeholder="Enter your registered email">
								</div>

								<!-- Login Button -->
								<div class="container text-center">
									<input type="submit" name="submit" class="btn btn-info btn-ml" value="Send OTP">
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>